/* Globals */
a,
a:focus,
a:hover {
  /* color: #fff; */
}
html,
body {
  height: 100%;
  /* background-color: #e91e63; */
}
body {
  /* color: #fff;
  text-align: center;
} */
/* .hide { */
  /* display: none; */
}
.landing-heading {
  /* font-family: "Source Code Pro", monospace;
  font-weight: 400; */
}

/* Buttons */
.btn {
  /* font-family: "Source Code Pro", monospace;
  padding: 0.5625rem 2.5rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.75rem;
  border-radius: 0 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}
.btn-lg {
  /* font-size: 0.875rem;
  padding: 0.6875rem 3.4375rem;
  line-height: 1.75rem; */
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  /* outline: none; */
}
.btn-primary {
  /* background-color: #270f34;
  border: 1px solid #270f34; */
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  /* color: #fff;
  border: 1px solid #2c96ff;
  background-color: #2c96ff; */
}

/* Avatar */
.avatar {
  /* width: 100px;
  height: 100px; */
}
.avatar-section {
  /* margin-bottom: 25px; */
}

/* Scaffolding */
.site-wrapper {
  /* display: table;
  width: 100%;
  height: 100vh;
  min-height: 100%; */
}
.site-wrapper-inner {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100vh; */
}
.panel-authed {
  /* padding: 0 0 0 0; */
}

/* Home button */
.btn-home-hello {
  /* position: absolute;
  font-family: "Source Code Pro", monospace;
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  top: 15px;
  left: 15px;
  padding: 3px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); */
}

/* Input */
input,
textarea {
  /* color: #000; */
}

.counselor-img {
    height: auto;
    width: 110px;
    border-radius: 25px;
  }
  .counselor-card-container {
    display: flex;
    border: 2px solid black;
    border-radius: 25px;
    margin: 1em;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .counselor-card-img {
    justify-content: center;
    padding: 1em;
  }
  .counselor-card-bio {
    justify-content: center;
    padding: 1em;
  }
  
  .profile-container {
    display: flex;
    flex-wrap: wrap;
  }
  .profile-name-pic {
    justify-content: center;
    padding: 1em;
    margin: 1em;
  }
  .profile-info {
    justify-content: center;
    padding: 1em;
    width: 60%;
    border: 2px solid black;
    border-radius: 25px;
    margin: 1em;
  }
  .profile-info p {
    font-family: 'Bree Serif', serif;
  }
  .profile-pic {
    width: 200px;
    height: auto;
  }

  .ui.menu {
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}

  .container {
      display:flex;
      position: relative;
      text-align: center;
      color: rgb(37, 37, 37);
      font-size: 5em;
  }
  .banner {
      width: 100%;
      height: 80vh;
      opacity: 0.5;
  }
  .banner-header {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .banner-header h1 {
    font-size: 80px;
    font-family: 'Pacifico', cursive;
  }
  .quote-pic {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
  }
  .quote-pic img {
      width: 45%;
      height: 50vh;
  }
 .banner2 img {
     margin-top: 20px;
     align-self: center;
     width: 100%;
     height: auto;
     margin-bottom: 20px;
 }